<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>Hello Everyone</h3>
	<br><br>
	현재시간 : <p th:text="${date}">current date</p>
	
	<p th:if="${num1 < num2}">첫번째 수가 두번째 숫자보다 적다.</p>
	<p th:if="${num1 > num2}">첫번째 수가 두번째 숫자보다 크다.</p>
	
	<!-- if else -->
	<p th:if="${#strings.isEmpty(name)}">이름 없음</p>
	<p th:unless="${#strings.isEmpty(name)}" th:text="${name}">이름 있음</p>
	
	<!-- 컨트롤러에서 이미지 이름 받아서 출력 -->
	<div>
		<img th:src="@{'/image/'+${imgName}}"alt="Dynamic Image">
	</div>
	<br>
	
	<!-- 반복문 출력 -->
	<h2>User List</h2>
	<div th:if="${userList != null}">
		<table border=1>
			<tr>
				<th>ID</th>
				<th>NAME</th>
				<th>AGE</th>
			</tr>
			<tr th:each="user:${userList}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.age}"></td>
			</tr>
		</table>
	</div>
	
	<h1>세션을 통한 사용자 정보 확인</h1>
	<div th:if="${session.user != null}">
		<p>로그인 사용자</p>
		<p>사용자 ID : <span th:text="${session.user.id}"></span></p>
		<p>사용자 NAME : <span th:text="${session.user.name}"></span></p>
		<p>사용자 AGE : <span th:text="${session.user.age}"></span></p>
	</div>
	<div th:unless="${session.user != null}">
		<p>세션에 사용자 정보가 없습니다.(로그인 안한 사용자)</p>
	</div>
	
	<table border=1>
		<tr>
			<td>상품ID</td>
			<td th:text="${product.productId}">
		</tr>
		<tr>
			<td>상품NAME</td>
			<td th:text="${product.name}">
		</tr>
		<tr>
			<td>상품Price</td>
			<td th:text="${#numbers.formatInteger(product.price,3,'COMMA')}"><br>
		</tr>
		<tr>
			<td>상품ReceiptDate</td>
			<td th:text="${#temporals.format(product.ReceiptDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
		</tr>
	</table>
	
	<input type="text" name="productId" value="세탁기" th:value="${product.name}"/>
	
</body>
</html>